@import "tailwindcss";

@utility soft-orange {
    color: hsl(35, 77%, 62%)
}


@utility soft-red-btn {
    background-color: hsl(5, 85%, 63%)
}
@utility soft-red {
    color: hsl(5, 85%, 63%)
}

@utility grayish-blue {
    color: hsl(233, 8%, 79%);
}

@utility dark-grayish-blue {
    color: hsl(236, 13%, 42%);
}


@utility very-dark-blue {
    background-color: hsl(240, 100%, 5%)
}


@utility off-white {
    color: hsl(36, 100%, 99%);
}

@utility bg-off-white {
    background-color: hsl(36, 100%, 99%);
}


@layer base {
    p {
        @apply text-[15px];
    }
}

@utility flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}